/* Заголовок секций */
.section-title {
  font-family: Karton, Arial, sans-serif;
  font-size: 42px;
  line-height: 47px;
}

.section-title .marker {
  color: var(--color-accent-2);
}

@media (max-width: 690px) {
  .section-title {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 440px) {
  .section-title {
    font-size: 30px;
    line-height: 40px;
  }
}

/* Синяя кнопка */
.btn-blue {
  border: none;
  background-color: var(--color-accent-1);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 7px 16px;
  font-size: 15px;
  transition: background-color ease .2s, opacity ease .2s, transform ease .2s;
}

.btn-blue:hover {
  /* background-color: var(--color-accent-2); */
  opacity: .7;
}

.btn-blue:active {
  transform: scale(.95);
}

/* Список соцсетей */
.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.social-list__icon {
  width: 55px;
  height: 55px;
}

.social-list__icon {
  transition: opacity ease .2s;
}

.social-list__item:hover .social-list__icon {
  opacity: .5;
}

.social-list__item:active .social-list__icon {
  opacity: .2;
}

@media (max-width: 870px) {
  .social-list__icon {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 670px) {
  .social-list__icon {
    width: 40px;
    height: 40px;
  }
}

/* Декоративные изображения */
.decor-image {
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

@media (max-width: 650px) {
  .decor-image {
    display: none;
  }
}